body{
  box-sizing: border-box;
  height: 98vh;
  display: flex;
  flex-direction: column;
}

.content{
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
}

.sidebar{
  background-color: blueviolet;
  flex: 1 1 auto;
  height: 100%;
}

.main{
  background-color: green;
  flex: 5 1 auto;
  display: flex;
  flex-direction: column;
}

.header{
  display: grid;
  grid-template: 8vh/auto;
  flex: 1 .5 auto;
  min-height: 8vh;
  max-height: 18vh;
}

.row1, .row2{
  display: flex;
  justify-content: space-between;
}

.profile{
  display: flex;
}

.projects{
  flex: 10 1 auto;
  max-height: 85vh;
  background-color: beige;
}

